<% provide(:title, "Genres") %>

<%= link_to "Back to Genres", "/genres" %>
<br/>
<br/>
<ul style="float:left">
    <h1 style="float:left">Genres</h1>
    <% @genre.each do |t| %>
	<li><%= link_to t, "/genres/" + t %></li>
    <% end %>
    <br/>
    <br/>
    <br/>

</ul>
<div id="center3">
<h1>Topics under <%= @head %></h1>
<ul align="center">
<% @genres.each do |t| %>
    <li align="center"><%= link_to t.subtype, "/" + t.parent + "/" + t.subtype %></li>
<% end  %>
</ul>

</div>

