<% provide(:title,"Leader Board") %>
<ul align="center">
    <br/><br/><br/>
    <h1 align="center">Genres</h1>
    <% @genres.each do |p| %>
	<li align="center"><%= link_to p, "/genres/" + p %></li>
    <% end  %>
    
</ul>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p align="center" style="color:red">Questions in Red color indicate incorrect answers have been provided</p>
<p align="center" style="color:green">Questions in Green color indicate correct answers have been provided</p>
<p align="center" style="color:blue">Questions unattempted are in blue</p>
